@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(User=>UserManager.Users.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(User=>UserManager.Users.First().Email)

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in UserManager.Users.ToList())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)

                </td>
            </tr>
        }
    </tbody>
</table>
